/* Reset y fuentes */
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: var(--body-bg);
    color: var(--body-color);
}

/* Contenedor Principal */
.container {
    width: 80%;
    margin: 50px auto;
    border: 2px solid #ddd;
    border-radius: 15px;
    background: #fff;
}

/* Cabecera */
header {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 2px solid #ddd;
}

.profile-picture {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.header-info h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.header-info h2 {
    font-size: 1.5em;
    color: #666;
}

.header-info p {
    font-size: 1em;
    color: #333;
}

/* Sección principal */
.main-content {
    padding: 20px;
}

/* Secciones */
.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 1.8em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #333;
}

/* Experiencia Laboral */
.job {
    margin-bottom: 15px;
}

.job h4 {
    font-size: 1.3em;
    color: #555;
}

.job-date {
    font-size: 0.9em;
    color: #888;
}

.job ul {
    list-style-type: square;
    margin-left: 20px;
    color: #444;
}

/* Educación */
.education {
    margin-bottom: 15px;
}

.education h4 {
    font-size: 1.3em;
}

.education-date {
    font-size: 0.9em;
    color: #888;
}

/* Habilidades */
.skills {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background: #f0f0f0;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #333;
}